

.header {
    background-image: url(../img/bg_header.svg);
    background-position: center;
    background-size: cover;
}

    .header .logo {
        padding-top: 35px;
        padding-left: 35px;
    }

    .header h1 {
        padding-top: 250px;
        padding-bottom: 30px;

        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        text-align: center;
        color: #4B0225;
    }

    .header p {


        font-weight: 700;
        font-size: 26px;
        text-align: center;
        color: #3E3E3E;
    }

    .header .btn-pink {
        margin: 20px auto 180px auto;
    }




.categiry {

}

    .categiry .row {
        align-items: end;

        padding: 0 20px;
        margin: 0 -25px;
    }

        .categiry .item {
            flex: 1 1;

            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 35px;

            text-align: center;
        }

            .categiry .item img {

            }

            .categiry .item h4 {
                padding-top: 25px;

                font-weight: 700;
                font-size: 18px;
                text-align: center;
                color: #3E3E3E;
            }

    .categiry p {
        padding-top: 5px;

        font-weight: 700;
        font-size: 26px;
        text-align: center;
        color: var(--сolor-purple);
    }





.quality {
    margin-top: 110px;
}

    .quality .row {
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
    }

        .quality .row .item {

        }

            .quality .row .item .title-block {
                padding-bottom: 20px;
            }

            .quality .row .item .text-block {

                padding-bottom: 15px;
            }

                .quality .row .item:first-child .text-block {
                    max-width: 455px;

                }

                .quality .row:last-child {
                    top: -45px;
                }

                    .quality .row:last-child .item:last-child {
                        max-width: 540px;
                    }


                    .quality .row .item img {
                    width: 100%;
            }



.socety-reg {

}

    .socety-reg .wrap-inform {
        position: relative;
    }

    .socety-reg .inform-block {
        background-image: url(../img/bg_socety.svg);
        background-size: cover;
        background-repeat: no-repeat;
        /*background-position: center;*/
        width: 100%;

        background-position-x: 110px;
        padding-bottom: 1px;

    }
        .socety-reg .inform-block .title-block {
            max-width: 511px;

            margin: 0 auto;
            padding-top: 120px;
            padding-bottom: 30px;

            text-align: center;
        }

        .socety-reg .inform-block ul {
            display: block;
            margin: 0 auto;
            max-width: 500px;
        }

            .socety-reg .inform-block ul .text-block {
                padding-bottom: 15px;
                text-align: left;
            }

                .socety-reg .inform-block ul .text-block>span {
                    color: var(--сolor-purple);
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 59px;
                }

        .socety-reg .inform-block .text-block {
            padding-top: 25px;
            padding-bottom: 80px;
            text-align: center;

        }

         .socety-reg .inform-block .last-text {
             color: var(--сolor-purple);
             text-align: center;
         }

         .socety-reg .inform-block .btn-pink {
             margin: 30px auto 130px auto;
         }




