@media (max-width: 1180px) {
    .interface .item {
        width: 100%;
    }

    .interface .row {
        align-items: center;
        flex-direction: column;
    }

    .interface .item:first-child {
        left: 0;
    }
}

@media (max-width: 1030px) {
    .socety-reg .inform-block {
        background-position-x: 0px
    }
}

@media (max-width: 820px) {
    .quality .row {

        /*text-align: center;*/
        margin-bottom: 65px;
    }

    .quality .row:last-child {
        top: 0;
        flex-direction: column;
    }

    .quality .row:first-child {
        flex-direction: column-reverse;
    }

    .quality .row .item:first-child .text-block {
        max-width: 100%;
    }

    .quality .row:last-child .item:last-child {
        max-width: 100%;
    }

    .quality .row .item img {
        padding-bottom: 65px;
    }


    .socety-reg .inform-block {
        background-position-x: calc(-45px - 1vw);
    }

}

@media (max-width: 775px) {
    .cash-back .row {
        flex-direction: column-reverse;
    }

        .cash-back .row .item:last-child {
            padding-bottom: 45px;
        }

    .cash-back .item {
        width: 100%;
    }
}

@media (max-width: 575px) {

    .header .logo {
        padding-left: 0px;
        margin: 0 auto;
        display: block;
    }

    .header h1 {
        padding-top: 45px;

        font-size: 25px;
        line-height: 20px;
    }

    .header p {
        font-size: 16px;

    }

    .header .btn-pink {
        margin-bottom: 40px;
    }


    :root {
        --fz35: 20px;
        --fz16: 14px;

    }



    .socety-reg .inform-block {
        background-position-x: -160px;
    }



}











